/* CSS Document */

body {
    
    background-image: url(imgs/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
	font-weight: 200;
    text-align: center;
    
}

h1 {
    
    font-family: 'Calistoga', monospace;
    font-size: 500%;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, .5); /* blur background. apply to all text */
}

h2 {
    
    margin-top: 1%;
    font-family: 'Oooh Baby', cursive;
    font-size: 300%;
}

.reg {
	margin-block: 13px 13px;
}

h3 {
    
    margin-top: 1%;
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    max-width: 500px;
    margin: auto;
}

img {
    
    border: solid 5px #e04300;
    margin-bottom: 15px;
    width: 50%;
}

.split {
    
    margin: 0;
    border: none;
    margin-bottom: 15%;
}

.split div {
    
    vertical-align: middle;
    display: inline-block;
    border: none;
    width: 90%;
    max-width: 400px;
}

.booktable {
	border:none;
	border-collapse:collapse;
	border-spacing:0;
	background-color: #1B2027;
	width:100%;
	margin:5px auto
}

.booktable td {
	border-style:solid;
	border-width:0px;
	font-family:inherit;
	font-size:inherit;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
	text-align:center;
}

.booktable tr {
	border-color:inherit;
	text-align:center;
	vertical-align:top;
}

.booktable img {
	border: none;
    margin-bottom: initial;
    width: initial;
}

form {
	margin: auto;
	text-align: center;
}

.required {
	color: red;
  	vertical-align: super;
  	font-size: 70%;
}

form td {
	width: 100%;
	text-align: start;
}