/* CSS Document */

body {
    
    background-image: url(imgs/background-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
	font-weight: 200;
    text-align: center;
    margin: 0;
    
}

h1 {
    
    font-family: 'Calistoga', monospace;
    font-size: 500%;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, .5); /* blur background. apply to all text */
}

h2 {
    
    margin: 1%;
    font-family: 'Oooh Baby', cursive;
    font-size: 300%;
    text-shadow: 5px 5px 4px black;
}

.reg {
	margin-block: 13px 13px;
}

h3 {
    
    margin-top: 1%;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 5px 5px 4px black;
}

p {
    max-width: 500px;
    margin: auto;
    background-color: rgba(0, 0, 0, .5); /* blur background. apply to all text */
    padding: 10px;
}

img {
    
    border: solid 3.5px white;
    margin-bottom: 15px;
    width: 90%;
    max-width: 800px;
}

div {
    
    margin-bottom: 5%;
}

.split {
    
    margin: 0;
    border: none;
    margin: auto;
    width: 100%;
}

.split div {
    
    margin-top: 10%;
    vertical-align: top;
    display: inline-block;
    border: none;
    width: 100%;
    max-width:700px;
}

.split h1 {
    
    background-color: rgba(0, 0, 0, 0);;
    text-shadow: 5px 5px 4px black;
}

.split p {
    
    margin-top: 5%;
}

.booktable {
	border:none;
	border-collapse:collapse;
	border-spacing:0;
	background-color: #1B2027C0;
	width:100%;
	margin:5px auto
}

.booktable td {
	border-style:solid;
	border-width:0px;
	font-family:inherit;
	font-size:inherit;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
	text-align:center;
}

.booktable tr {
	border-color:inherit;
	text-align:center;
	vertical-align:top;
}

.booktable img {
	border: none;
    margin-bottom: initial;
    width: initial;
}

@media (max-width: 1220px) {
	.booktable img {
		width:100px;
		height:auto;
		
	}
	#map iframe {
		width:80%;
		height:300px;
	}
}

#formandmap {
	margin-top: 3%;
}

#formsplit {
	background-color: #1B2027C0;
	padding-top: 20px;
}

form {
	margin: auto;
	text-align: center;	
	padding: 10%;
}

.required {
	color: red;
  	vertical-align: super;
  	font-size: 70%;
}

form td {
	width: 100%;
	text-align: start;
}

nav {
    margin: 15px auto 30px auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0px 3% 0px 3%;
    border-right: 2px solid white;
    text-align: center;
    display:inline;
}

a {
    
    text-decoration: none;
    color: white;
}

a:hover {
    
    color: yellow;
}

#nav-end {
    border-right: none;
}